doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
		title User Portal | Login
		script.
			if(sessionStorage.getItem('token')!=undefined)
			{
			window.location.href='/account';
			}
			function login() {
			var email = document.getElementById('email').value;
			var password = document.getElementById('password').value;
			var nickname = document.getElementById('nickname').value;
			$.ajax({
			type: "POST",
			url: '/login',
			data: {
			"email": email,
			"password": password,
			"nickname": nickname
			},
			contentType: 'application/x-www-form-urlencoded',
			success: function(response, status, xhr) {
			sessionStorage.setItem('token', response.token);
			sessionStorage.setItem('email', response.email);
			sessionStorage.setItem('nickname', response.nickname);
			sessionStorage.setItem('profileImage', response.profileImage);
			window.location.href = '/account'
			},
			error: function(jqXHR, textStatus, errorThrown) {
			alert(jqXHR.responseText);
			}
			})
			}
	body
		.container
			.row
				.col-xs-6.col-xs-offset-3
					.panel.panel-primary(style='margin-top: 20%')
						.panel-heading.text-center
							h2 User Login
						.panel-body
							form.was-validated(action='index.php', method='post')
								.form-group
									label(for='email') Email
									input#email.form-control(type='text', name='email', placeholder='Email...', value='', required='')
								.form-group
									label(for='password') Password
									input#password.form-control(type='password', name='password', placeholder='Password...', value='', required='')
								.form-group
									label(for='nickname') Nickname
									input#nickname.form-control(type='text', name='nickname', placeholder='Nickname...', value='', required='')
								.form-group(align='center')
									button#loginBtn.btn.btn-info(type='button', onclick='login()', name='loginBtn') Login
								div
									p
										a(href='register') Create Account
